div.circleannotation {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	border-width: 5px;
	border-style: solid;
	opacity: 0.5;
	pointer-events: none;
	z-index: 2;
}

div.dot {
	height: 30%;
	width: 30%;
	left: 35%;
	top: 35%;
	position: absolute;
	background-color: dimgrey;
	border-radius: 50%;
	opacity: 0.4;
	z-index: 2;
}

div.error {
	width: 100%;
	height: 100%;
	background-color: red;
	position: absolute;
	opacity: 0.5;
}

div.canvas {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 2;
}

img {
	position: relative;
	z-index: 1;
}

div.kingcheckormate {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	pointer-events: none;
	opacity: 1;
	z-index: 0;
}
